**/.git
**/.gitignore
**/.vscode
**/.idea
**/node_modules
**/build
**/dist
**/venv
**/.venv
**/ENV
**/env
**/.pytest_cache
**/.mypy_cache
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/*.db
**/*.log
**/.terraform
**/*.tfstate
**/*.tfstate.backup
**/.terraform.lock.hcl
**/*.tfvars
**/*.tfvars.json
**/docker-compose*.yml
**/Dockerfile*
**/LICENSE
**/README.md
**/*.exe
**/*.test
**/*.out
**/*.prof
**/.env*
**/*.pem
**/*.key
**/*.pub
